extends layouts/default-layout
include mixins/button

block content
    p You are receiving this email because we received a password reset request for your account.
    +button(resetUrl, 'Reset password →')
    p This password reset link will expire in #{expirationMinutes} minutes.
    p If you did not request a password reset, no further action is required.
