<app-auth-layout-card
  cardTitle="Reset Password"
  cardSubtitle="Please enter your email address to receive password reset instructions"
>
  <form [formGroup]="form">
    <app-form-field label="Email Address" [control]="form.controls.email">
      <ng-template #input let-fieldId="id">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope" />
          <input
            type="email"
            variant="filled"
            placeholder="name@example.com"
            pInputText
            formControlName="email"
            [id]="fieldId"
            [fluid]="true"
            (keyup.enter)="doRequestReset()"
          />
        </p-iconfield>
      </ng-template>
    </app-form-field>

    <p-button
      label="Request Password Reset"
      icon="pi pi-key"
      class="request-reset-button"
      [fluid]="true"
      [disabled]="requestingReset() || form.invalid"
      [loading]="requestingReset()"
      (click)="doRequestReset()"
    />

    @if (errorMessage(); as message) {
      <p-message severity="error">{{ message }}</p-message>
    }
  </form>

  <p-divider />

  <p-button label="Back to Login" icon="pi pi-arrow-left" severity="secondary" routerLink="/login" [fluid]="true" />
</app-auth-layout-card>
