:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-top: 1em;
}

.validating-loader {
  margin-top: 1rem;
  text-align: center;

  i.pi-spinner {
    font-size: 2.5rem;
  }
}
