<app-auth-layout-card cardTitle="Reset Password" cardSubtitle="Please enter your new password">
  @if (tokenValidating()) {
    <div class="validating-loader">
      <i class="pi pi-spin pi-spinner"></i>
    </div>
  } @else if (tokenValidationError(); as validationError) {
    <p-message severity="error">{{ validationError }}</p-message>
  } @else {
    <form [formGroup]="form">
      <app-form-field label="New Password" [control]="form.controls.password">
        <ng-template #input let-fieldId="id">
          <p-iconfield>
            <p-inputicon class="pi pi-lock" />
            <p-password
              autocomplete="off"
              variant="filled"
              placeholder="●●●●●●●●"
              formControlName="password"
              [inputId]="fieldId"
              [fluid]="true"
              [toggleMask]="true"
              [feedback]="false"
              (keyup.enter)="doResetPassword()"
            />
          </p-iconfield>
        </ng-template>
      </app-form-field>

      <app-form-field label="Confirm Password" [control]="form.controls.confirmPassword">
        <ng-template #input let-fieldId="id">
          <p-iconfield>
            <p-inputicon class="pi pi-lock" />
            <p-password
              autocomplete="off"
              variant="filled"
              placeholder="●●●●●●●●"
              formControlName="confirmPassword"
              [inputId]="fieldId"
              [fluid]="true"
              [toggleMask]="true"
              [feedback]="false"
              (keyup.enter)="doResetPassword()"
            />
          </p-iconfield>
        </ng-template>
      </app-form-field>

      <p-button
        label="Reset Password"
        icon="pi pi-refresh"
        [fluid]="true"
        [disabled]="resetting() || form.invalid"
        [loading]="resetting()"
        (click)="doResetPassword()"
      />

      @if (errorMessage(); as message) {
        <p-message severity="error">{{ message }}</p-message>
      }
    </form>
  }
</app-auth-layout-card>
