@import 'primeicons/primeicons.css';

html {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
