@import 'primeicons/primeicons.css';

html {
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

:root {
  --content-max-width: 1280px;
  --content-padding: 1rem;

  --transition-duration: 0.2s;

  --color-error: var(--p-red-600);

  @media (prefers-color-scheme: dark) {
    --color-error: var(--p-red-500);
  }
}
