@import 'primeicons/primeicons.css';

html {
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background: var(--background-color);
}

a.link,
a[pButton] {
  text-decoration: none;
}

a.link:not([pButton]),
button.link {
  cursor: pointer;
  color: var(--p-button-link-color);

  &:hover {
    text-decoration: underline;
  }

  &.disabled {
    cursor: default;
    color: var(--p-text-muted-color);
    text-decoration: none;
    pointer-events: none;
  }
}

button.link {
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
}

:root {
  // layout
  --content-max-width: 1280px;
  --content-padding: 1rem;

  // colors
  --background-color: var(--p-surface-100);

  --header-background: var(--p-surface-0);
  --header-border: var(--p-surface-300);
}
html.theme-dark {
  --background-color: var(--p-surface-800);

  --header-background: var(--p-surface-900);
  --header-border: var(--p-surface-700);
}

.p-menu .p-menu-item-link.p-menu-item-link-active {
  color: var(--p-menu-item-focus-color);
  background: var(--p-menu-item-focus-background);
}
